extends layout

block content
	h1 GeoJS
	form(name="add-estimation", action=/geojs/, method="post")
		div.input
			p insert your City

			input(type="text", name="#{city}", placeholder="your #{city}")
		div.actions
			p Press the 'SEND GEO' button to send the data

			input(type="submit" value=" SEND GEO ") 
			