extends layout

block content
	h1 GeoJS
	p insert your Name

	input(type="text", placeholder="your #{name}")

	p insert your City

	input(type="text", placeholder="your #{city}")

	p Press the 'SEND GEO' button to send the data

	input(type="button" value=" SEND GEO ")