body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
	font-size: 60px;
	color: #0E2F44;
}

p {
	color: #66CCCC;
	
}

input {
	background-color: #FFFFE0;
}

div {
	
	background-color: #0E2F44;
}
